<%- include ('../partials/head') %>

<div class="details-table">
    <table class="text-center">
        <tr>
            <th colspan="3" >All Schedules</th>
        </tr>
        <tr>
            <th>
                S.N.
            </th>
            <th>Name</th>
            <th>Schedules</th>
        </tr>
        <tbody>
            <% groupsSchedules.map((each,index) => {%>
            <tr>
                <td><%= index+1 %>.</td>
                <td>
                    <a href='/manageschedules/<%=each.user_id%>'>
                        <%= each.firstname %>
                    </a>
                </td>
                <td>
                    <% each.user_schedule.map(schedule => {%>
                        <p>Day: <%= schedule.day.days %>, Start_time: <%= schedule.start_time %>, End_time: <%= schedule.end_time %></p>
                        <div class="bottom-line"></div>
                    <% }) %>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

