<style>
    .input-error{
        border-color: red;
    }
    .input-success{
        border-color: green;
    }
    .info-error {
        color: red;
    }
</style>
<div>
    <% if(typeof message !== 'undefined'){ %>
        <p style="color : red;"><%= message%></p>
    <%}%>
</div>
<form action="/login" method="POST" novalidate>
    <div>
        <label for="email">Email:</label>
        <input class="<%=(typeof(errors) !== 'undefined')  ? (errors.email) ? 'input-error' : 'input-success' : '' %>" id="email" type="email" name="email" value="<%= typeof email !== 'undefined' ? email : '' %>">
        
        <%  if((typeof(errors) !== 'undefined')  && (errors.email)) {%>
            <small class="info-error"><%=errors.email%></small>
        <%}%>
    </div>
    <div>
        <label for="password">Password:</label>
        <input class="<%=(typeof(errors) !== 'undefined')  ? (errors.password) ? 'input-error' : 'input-success' : '' %>" id="password" type="password" name="password" value="<%= typeof password !== 'undefined' ? password : '' %>">
        <%  if((typeof(errors) !== 'undefined')  && (errors.password)) {%>
            <small class="info-error"><%=errors.password%></small>
        <%}%>
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>
<a href='/register'>Register</a>
</body>