<%- include ('../partials/head'); -%> 

<div class="wrapper fadeInDown height">
    <div id="formContent">
      <!-- Tabs Titles -->
      
      <!-- Icon -->
        <div class="fadeIn first">
            <img style = "margin :5px;"src="https://media0.giphy.com/media/EwNWZrqJgRvdbe1BAl/giphy.gif?cid=6c09b952315c8b5855cb5c54658ef71c4782f871cadfed03&rid=giphy.gif&ct=s" id="icon" alt="User Icon" />
        </div>
    <div>
        <% if(typeof errMessage !== 'undefined'){ %>
            <p style="color : red;"><%= errMessage%></p>
        <%}%>
    </div>
    <div>
        <% if(typeof successMessage !== 'undefined'){ %>
            <p style="color :green;"><%= successMessage%></p>
        <%}%>
    </div>
    <form action="/login" method="POST" class="login-form">
        <div class="form-items">
            <input 
            type="text"
            id="login" 
            class="fadeIn second <%=(typeof(errors) !== 'undefined')  ? (errors.email) ? 'input-error' : 'input-success' : '' %>" 
            name="email" 
            placeholder="Email" 
            value="<%= typeof email !== 'undefined' ? email : '' %>"
            >
            
            <%  if((typeof(errors) !== 'undefined')  && (errors.email)) {%>
                <small class="info-error"><%=errors.email%></small>
            <%}%>

        </div>

        <div class="form-items">
            <input 
            type="password" 
            id="password" 
            class="fadeIn third <%=(typeof(errors) !== 'undefined')  ? (errors.password) ? 'input-error' : 'input-success' : '' %>" 
            name="password" 
            placeholder="password" 
            value="<%= typeof password !== 'undefined' ? password : '' %>"
            >
            
            <%  if((typeof(errors) !== 'undefined')  && (errors.password)) {%>
                <small class="info-error"><%=errors.password%></small>
            <%}%>
        </div>

        <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div>
    <a style = "margin-bottom: 10px;" href='/register'>Register</a>
    </div>
</div>
