<%- include ('../partials/head'); -%> 
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
   <!---<div class="fadeIn first">
        <img style="max-height: 10%;" src="https://media0.giphy.com/media/EwNWZrqJgRvdbe1BAl/giphy.gif?cid=6c09b952315c8b5855cb5c54658ef71c4782f871cadfed03&rid=giphy.gif&ct=s" id="icon" alt="User Icon" />
    </div>-->
    <% if(typeof errmessage !== 'undefined'){ %>
      <p style="margin-top:50px;color : red;"><%= errMessage%></p>
    <%}%>
    <!-- Login Form -->
    <form action="/register" method="POST" class="register-form" novalidate>
      <input type="text" class ="<%= typeof errors !== 'undefined'? errors.surname? 'input-error':'input-success':'' %>" id="surname" class="fadeIn second" name="surname" placeholder="Surname"   value="<%= typeof surname !== 'undefined' ? surname : '' %>">
          <%if(typeof errors !== 'undefined' && errors.surname){%>
            <small class="info-error"><%=errors.surname%></small>
          <%}%>

      <input type="text" class="<%= typeof errors !== 'undefined'? errors.firstname? 'input-error':'input-success':'' %>" id="login" class="fadeIn second" name="firstname" placeholder="Firstname" value="<%= typeof firstname !== 'undefined' ? firstname : '' %>">
          <%if(typeof errors !== 'undefined' && errors.firstname){%>
            <small class="info-error"><%=errors.firstname%></small>
          <%}%>

      <input type="text" class="<%= typeof errors !== 'undefined'? errors.email? 'input-error':'input-success':'' %>" id="login" class="fadeIn second" name="email" placeholder="email" value="<%= typeof email !== 'undefined' ? email : '' %>">
          <%if(typeof errors !== 'undefined' && errors.email){%>
            <small class="info-error"><%=errors.email%></small>
          <%}%>

      <input type="password"  class="<%= typeof errors !== 'undefined'? errors.password? 'input-error':'input-success':'' %>" id="password" class="fadeIn second" name="password" placeholder="Password" value="<%= typeof password !== 'undefined' ? password : '' %>">
          <%if(typeof errors !== 'undefined' && errors.password){%>
            <small class="info-error"><%=errors.password%></small>
          <%}%>

      <input type="password" class="<%= typeof errors !== 'undefined'? errors.password2? 'input-error':'input-success':'' %>" id="password" class="fadeIn third" name="password2" placeholder="Confirm Password" value="<%= typeof password2 !== 'undefined' ? password2 : '' %>">
          <%if(typeof errors !== 'undefined' && errors.password2){%>
            <small class="info-error"><%=errors.password2%></small>
          <%}%>

      <input type="submit" class="fadeIn fourth" value="Register">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="/login">Already a member?</a>
    </div>

  </div>
</div>

